<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<script src="js/vue.js"></script>-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

        <div id="app">

            <!--<div class="demo"-->
            <!--@click="attachRed = !attachRed"-->
                 <!--:class="{red: attachRed}"-->
            <!--&gt;-->
            <!--</div>-->
            <!--<div class="demo" @click="attachGreen = !attachGreen" :class="divClasses"></div>-->

            <!--<div class="demo" :class="[color]"></div>-->

            <!--<br>-->

            <!--<input type="text" v-model="color">-->

            <div class="demo" :style="divClasses"></div>
            <div class="demo" :style="divClasses"></div>
            <div class="demo" :style="[divClasses, {height: width + 'px'}]"></div>
            <!--<div class="demo"></div>-->
            <br>
            <input type="text" v-model="color">
            <input type="text" v-model="width">


        </div>

<script src="js/vue.js"></script>
<script>

    new Vue({
        el: '#app',
        data:{

            color: 'grey',
            width: 100,


        },
        computed: {

          divClasses : function () {

              return{

                  backgroundColor: this.color,
                  width: this.width + 'px',

              };

          }


        },


        methods:{

            increase: function () {

                this.counter++;

            },

        }



    });


</script>
</body>
</html>